.datepicker{
    margin-top: 20px;
    padding: 10px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
}

.datepicker1{
    margin-top: 20px;
    padding: 10px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
}
.datepicker2{
    margin-top: 20px;
    padding: 10px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
}